// Panda CSS Starts



// body{
//    background:url(https://git.io/JUW4t);
//    background-size: cover;
//    overflow: hidden;
// }

// #panda{
//    position:relative;
//    top:100px;
//    overflow: hidden;
//    background-repeat: no-repeat;
//    background-image: url('/animationsPractice/assets/img/Panda.png') ;
//    width:250px;
//    height:340px;
//    animation:walking_animation 0s steps(12) infinite,move_forward 8s linear infinite;	
// }

// @keyframes walking_animation{
//    	0%{background-position:0px;}
// 		100%{background-position:3000px;}
// }
// @keyframes move_forward
// 	{
// 		0%{transform:translateX(-100px);}
// 		100%{transform:translateX(1366px);}
// 	}

// #street
// {
//    position:relative;
//    top:400px;
//    border-bottom:5px groove green;
// }

// body
// 	{
// 		background: url(https://git.io/JUW4t);
// 		background-size: cover;
// 		overflow: hidden;
// 	}

// #panda
// 	{
// 		position:relative;
// 		top:400px;
// 		background: url(https://git.io/JUW4L); 
// 		width:250px;
// 		height:330px;		
// 		animation:walking_animation 1s steps(12) infinite,move_forward 8s linear infinite;	
// 	}

// @keyframes walking_animation
// 	{
// 		0%{background-position:0px;}
// 		100%{background-position:3000px;}
// 	}

// @keyframes move_forward
// 	{
// 		0%{transform:translateX(-200px);}
// 		100%{transform:translateX(1466px);}
// 	}

// #street
// 	{
// 		position:relative;
// 		top:400px;
// 		border-bottom:5px groove green;
// 	}

// Panda CSS Ends


// Rectangle CSS Starts


// body{
//    background-color: grey;
// }
// .rect{
//    width:150px;
//    height:150px;
//    background-color: #fff;
//    position: relative;
//    animation:rotate-rect 5s infinite;
// }
// @keyframes rotate-rect {
//    0%{
//       background-color: #fff; left:0; top:0;
//    }
//    25%{
//       background-color: pink; left:600px; top:0;
//    }
//    50%{
//       background-color: aqua; left:600px; top:600px;
//    }
//    75%{
//       background-color: chartreuse; left:0; top:600px;
//    }
//    100%{
//       background-color: #fff; left:0; top:0;
//    }
// }

// Rectangle CSS Ends



// BharatPe CSS Starts

body{
   background-color:black;
   background-size: cover;
   font-family:'Gilroy', sans-serif;
}
.loader-wrapper{
   // position: fixed;
   top:0;
   left:0;
   right:0;
   height:100vh;
   width:100vw;
   background-color: #000;
   align-items: center;
   z-index: 100;
   display: flex;
   justify-content: center;
}
.loader-wrapper img{
   height:120px;
}
.main-container{
   display: none;
}

.section-item{
   display: flex;
   justify-content: center;
   position:relative;
   width:100vw;
   height:100vh;
}
.gard{
   position:fixed;
   opacity: 0.2;
   max-width: 95vw;
   top:-5.8%;
   left:15%;
   animation:backgroundTransition 5s;
}
.content{
   position:relative;
   top:20.5%;
   left:-72px;
   width:852px;
   height:253px;
}

.img-logo{
   height:90px;
   animation:transitionIn 5s;
}
// .logo{
//    transform:translateY(50px);
//    transition:all 5s ease;
// }
// .smooth-show{
//       transform:translate(0)!important;
// }
.content-list{
   width:980px;
   font-size: 100px;
   color:#e0e0e0;
}
.scrolling-text{
   position: relative;
   height:110px;
   overflow: hidden;
}

.scrolling-text span{
   display: block;
   height:120px;
   overflow: hidden;
   animation:animate 6s ease-in-out infinite ;
   animation-delay: 2s;
   position:relative; 
}

.scrolling-text .s1{
   color:green;
}

.scrolling-text .s2{
   color:lightblue;
}
.scrolling-text .s3{
   color:plum
}
.scrolling-text .s4{
   color:orange;
}
.scrolling-text .s5{
   color:hotpink;
}

.arrow{
   position: relative;
   bottom:-30%;
   left:60%
}

.bounce{
   animation:bounce 3s infinite;
}

.arrow-img{
   height:40px;
   width:40px;
}

@keyframes bounce{
   0%, 100%, 20%, 50%, 80%{
      transform: translateY(0);   
   }  
   40%{
      transform: translateY(-30px);   
   }
   60%{
      transform: translateY(-15px);   
   }
}

@keyframes animate{
   0%{
      bottom:0px;
   }  
   20%{
      bottom:120px;
   }
   40%{
      bottom:240px;
   }
   65%{
      bottom:360px;
   }
   80%{
      bottom:480px;
   }
   100%{
      bottom:500px;

   }
}
@keyframes transitionIn{
   0%{
      transform: translateY(-100%);
   }
   100%{
      transform: translateY(0);
   
   }
}
@keyframes backgroundTransition{
   0%{
      // transform: translateX(-30%);
      // transform: translate(50%,60%);
      transform: translate(-20%,20%);
   }
   100%{
      transform: translate(0);
   
   }
}

// Second section starts

.swiper-container{
   position: relative;
   width:100%;
   height:100%;
   // overflow: hidden;
   z-index: 1;
   margin:0 auto;
   text-align: center;
   background-color: rgb(237, 240, 240);
}
.employee-benefits{
   font-size: 100px;
   letter-spacing: -.02em;
   color:#444;
   position:absolute;
   top:0;
   width:100vw;
   align-items: center;
   z-index:4;
}
.show-transition{
   animation:compensationIn 5s ease-in-out;
}

@keyframes compensationIn{
   0%{
      transform:translateY(calc(577 * .5px))
   }
   100%{
      transform: translateY(0);
   
   }
}

// section:nth-child(2) .show-transition{
//    transform: translateY(calc(var(--yBlock-2) * .5px));
// }

.logo-wrapper{
   position: absolute;
   top:0;
   right:0;
   z-index: 2;
   opacity: .2;
}
.swiper-wrapper{
   position:relative;
   width:100%;
   height: 100%;
   display: flex;
   box-sizing: content-box;
}

.swiper-slide{
   height: 100%;
   width:100%;
   position:relative;
   text-align: center;
   font-size: 18px;
   background: 0,0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider-content{
   display: flex;
   justify-content: center;
   width:85%;
   margin-top:20vh;
   align-items: center;
}
.dark-blue{
   color:#004c68;
   margin:40px 0;
   font-size: 40px;

}




//Second section ends



//BharatPe CSS Ends
